[submodule "coconut"]
	path = coconut
	url = https://github.com/kaqu/coconut.git
[submodule "swift-snapshot-testing"]
	path = swift-snapshot-testing
	url = https://github.com/pointfreeco/swift-snapshot-testing.git
